@charset "UTF-8";

body{
    background-color: rgb(237, 186, 253);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(214, 78, 255);
}

h1#principal{ 
    text-align: center;
    color: white;
    background-color: rgb(214, 78, 255);
}
/*não é necessário dizer o nome do elemento, (h1#principal) pode-se colocar apenas #principal 


id em HTML significa # em CSS (só pode um elemento)
em HTML tudo que é class em CSS é . (pode vários elementos)
*/

.basico{
    color: rgb(59, 87, 211);
}


.intermediario{
    color: rgb(177, 138, 10)
}

.avancado{
    color: rgb(238, 84, 74)
}
